fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
joblib
firebase-admin
sqlalchemy
pydantic
imbalanced-learn
python-multipart
scipy
seaborn
matplotlib
google-cloud-storage
google-cloud-firestore
absl-py